
/* body */
  
.body {
  min-height: 100vh;
}

/* header */

.header {
  border: 1px solid black;
  height: 60px;
  background-color: #0771af;
}

.navbar {
  border: 1px solid black;
  height: 100%;
}

.navbar-brand {
  width: 100px; 
  float: left;
}

.navbar-left {
  float: left;
}

.navbar-right {
  float: right
}

/* main */

.main {
  border: 1px solid black;
}

.sidebar{
  position: fixed;
  width: 240px;
  /* height: 100%; */
  background: rgb(131, 136, 120);
  border: 1px solid black;
}

/* content */

.content {
  position: relative;
  float: left;
  left: 240px;
  width: calc(100% - 240px);
  border: 1px solid black;
}

/* here we go */

.add-sku-left-form {
  display:inline-block;
  /* width: 50%; */
  border: 1px solid black;
}

.add-sku-right-form {
  display:inline-block;
  /* width: 50%; */
  border: 1px solid black;
}