{% extends "modules/layout_modules.html" %}
{% block content %}
{% import "modules/sku/dyn_component_addition.html" as macros %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> 
<script src="/static/js/dyn_add_sku_component.js"></script>
<form method="POST" action="" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    <div class="add-sku-left-form">
        <fieldset class="form-group">
            <!-- <legend class="border-bottom mb-4">{{ legend }}</legend> -->
            <div class="form-group">
                {{ form.sku_id.label(class="form-control-label") }}
                {% if form.sku_id.errors %}
                    {{ form.sku_id(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.sku_id.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.sku_id(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.product.label(class="form-control-label") }}
                {% if form.product.errors %}
                    {{ form.product(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.product.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.product(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.name.label(class="form-control-label") }}
                {% if form.name.errors %}
                    {{ form.name(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.name.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.name(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.affilation.label(class="form-control-label") }}
                {% if form.affilation.errors %}
                    {{ form.affilation(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.affilation.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.affilation(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.comment.label(class="form-control-label") }}
                {% if form.comment.errors %}
                    {{ form.comment(class="form-control form-control-lg is-invalid") }}
                {% else %}
                    {{ form.comment(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.image.label() }}
                {{ form.image(class="form-control-file") }}
                {% if form.image.errors %}
                    {% for error in form.image.errors %}
                        <span class = 'text-danger '>{{ error }}</span><br>
                    {% endfor %}
                {% endif %}
            </div>
        </fieldset>
    </div>
    <div class="add-sku-right-form">
        <div class="row">
            <div>
                <!-- type=button to specify that we dont need sumbit everytime it's clicked -->
                <button type="button" id="add_component_button">add</button>
            </div>
            <div id="components_wrapper">
                    {{ form.sku_components() }}
                <!-- just a wrapper to add fields -->
            </div>
        </div>
    </div>
    <div class="form-group">
        {{ form.submit(class="btn btn-outline-info") }}
    </div>
</form>
{% endblock content%}
