{% extends "modules/layout_modules.html" %}
{% block content %}
{% import "modules/sku/dyn_component_addition.html" as macros %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> 
<!-- <script src="./dyn_add_form.js"></script> -->
<script>
    $(document).ready(function() {
      
    var MaxInputs       = 8; //maximum input boxes allowed
    var InputsWrapper   = $("#components_wrapper"); //Input boxes wrapper ID
    var AddButton       = $("#add_component_button"); //Add button ID
      
    var x = InputsWrapper.length; //initlal text box count
    var FieldCount=1; //to keep track of text box added
      
    $(AddButton).click(function (e)  //on add input button click
    {
            if(x <= MaxInputs) //max input box allowed
            {
                FieldCount++; //text box added increment
                //add input box
                $(InputsWrapper).append(`
                                        <div class="row">
                                        <li>
                                            <label for="sku_components-` + x + `">Sku Components-` + x + `</label> 
                                            <table id="sku_components-` + x + `">
                                                <tbody>
                                                    <tr>
                                                        <th>
                                                            <label for="sku_components-` + x + `-component_id">component_id</label>
                                                        </th>
                                                        <td>
                                                            <input id="sku_components-` + x + `-component_id" name="sku_components-` + x + `-component_id" required="" type="number" value="">
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <th>
                                                            <label for="sku_components-` + x + `-quantity">quantity</label>
                                                        </th>
                                                        <td>
                                                            <input id="sku_components-` + x + `-quantity" name="sku_components-` + x + `-quantity" required="" type="text" value="">
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </li>
                                        <a href="#" class="btn btn-danger removeclass">×</a>
                                        </div>
                                        `);

                x++; //text box increment
            }
    return false;
    });
      
    $("body").on("click",".removeclass", function(e){ //user click on remove text
            if( x > 1 ) {
                    $(this).parent('div').remove(); //remove text box
                    x--; //decrement textbox
            }
    return false;
    })
     $('#submit').click(function(){            
               $.ajax({  
                    url:"/postskill",  
                    method:"POST",  
                    data:$('#add_skills').serialize(),  
                    success:function(data)  
                    {  alert(data)
                         $('#resultbox').html(data);  
                         $('#add_skills')[0].reset();  
                    }  
               });  
          }); 
    });
</script>
<form method="POST" action="" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    <div class="add-sku-left-form">
        <fieldset class="form-group">
            <!-- <legend class="border-bottom mb-4">{{ legend }}</legend> -->
            <div class="form-group">
                {{ form.sku_id.label(class="form-control-label") }}
                {% if form.sku_id.errors %}
                    {{ form.sku_id(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.sku_id.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.sku_id(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.product.label(class="form-control-label") }}
                {% if form.product.errors %}
                    {{ form.product(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.product.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.product(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.name.label(class="form-control-label") }}
                {% if form.name.errors %}
                    {{ form.name(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.name.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.name(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.affilation.label(class="form-control-label") }}
                {% if form.affilation.errors %}
                    {{ form.affilation(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.affilation.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.affilation(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.comment.label(class="form-control-label") }}
                {% if form.comment.errors %}
                    {{ form.comment(class="form-control form-control-lg is-invalid") }}
                {% else %}
                    {{ form.comment(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.image.label() }}
                {{ form.image(class="form-control-file") }}
                {% if form.image.errors %}
                    {% for error in form.image.errors %}
                        <span class = 'text-danger '>{{ error }}</span><br>
                    {% endfor %}
                {% endif %}
            </div>
        </fieldset>
    </div>
    <div class="add-sku-right-form">
        {{ form.sku_components.label() }}
        <div>
            <!-- type=button to specify that we dont need sumbit everytime it's clicked -->
            <button type="button" id="add_component_button" class="btn btn-success">Add component</button>
        </div>
        <div id="components_wrapper">
                {{ form.sku_components() }}
            <!-- just a wrapper to add fields -->
        </div>
    </div>
    <!-- <form method="POST" action="" enctype="multipart/form-data">

    </form> -->
    <div class="form-group">
        {{ form.submit(class="btn btn-outline-info") }}
    </div>
</form>
{% endblock content%}
