{# Render lap form.
This macro is intended to render both regular subforms (received from the
server) and the template form used to dynamically add more forms.

Arguments:
    - subform: Form object to render
    - index: Index of the form. For proper subforms rendered in the form loop,
                this should match `loop.index0`, and for the template it should be '$'
#}
{%- macro render_sku_component_form(subform, index) %}
    <div id="sku_component_form-{{ index }}" class="{% if index != '$' %}subform{% else %}is-hidden{% endif %}" data-index="{{ index }}">
        <div>
            {{ subform.component_id }}
        </div>
        <div>
            {{ subform.quantity}}
        </div>
        <a class="remove" href="#">Remove</a>
        <hr/>
    </div>
{%- endmacro %}