
/* body */
  
.body {
  min-height: 100vh;
}

/* header */

.header {
  /* border: 1px solid black; */
  height: 60px;
  background-color: #0771af;
}

.navbar {
  /* border: 1px solid black; */
  height: 100%;
}

.navbar-brand {
  width: 100px; 
  float: left;
}

.navbar-left {
  float: left;
}

.navbar-right {
  float: right
}

/* main */

.main {
  /* border: 1px solid black; */
}

.sidebar{
  position: fixed;
  width: 240px;
  /* height: 100%; */
  background: rgb(131, 136, 120);
/*  border: 1px solid black;*/
}

/* content */

.content {
  position: relative;
  float: left;
  left: 240px;
  width: calc(100% - 240px);
  display: inline-block;
/*  border: 1px solid black;*/
}

.inline-container {
    display: inline-block;
    width:100%;
}

/* here we go */

.two_column_form {
  position: relative;
  display: inline-block;
  width:100%;
}

.add-sku-left-form {
  position: relative;
  float: left;
  display: inline-block;
  width:50%;
}

.add-sku-right-form {
  position: relative;
  float: right;
  display: inline-block;
  width:50%;
/*  border: 1px solid black;*/
}

.right-form-field {
  position: relative;
  float: left;
  width:70%;
/*  border: 1px solid black;*/
}

.right-form-button {
  position: relative;
  float: right;
  width:20%;
/*  border: 1px solid black;*/
}

.main-footer-submit-button {
  position: relative;
  float: left;
  width:100%;
/*  border: 1px solid black;*/
}

.add-component-id {
  position: relative;
  display: inline-block;
}

.add-component-quantity {
  position: relative;
  display: inline-block;
}

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
  background-color: #ccc;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  padding: 0 18px;
  background-color: white;
  display: none;
  overflow: hidden;
}

.accordion:after {
  content: '\02795'; /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  color: #777;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2796"; /* Unicode character for "minus" sign (-) */
}
