

/* body */
  
.body {
  min-height: 100vh;
}


.navbar {
  width: 100%;
}


/*эта штука делает хедер наверху, а мейн под ним*/

body {
  padding-top: 60px;
}
@media (max-width: 979px) {
  body {
    padding-top: 0px;
  }
}